@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*.php';
@source '../../../../resources/views/filament/**/*.blade.php';

@theme {
    --font-sans: 'Geist Mono', ui-monospace, SFMono-Regular, monospace;
}

.dark {
    --gray-950: oklch(0.1468 0.0288 237.53);
    --gray-900: oklch(0.2114 0.0322 244.1);
    --gray-800: oklch(0.2914 0.0357 250.7);
    --gray-500: oklch(0.5722 0.0523 248.76);
}
