@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*.php';
@source '../../../../resources/views/filament/**/*.blade.php';

@font-face {
    font-family: 'Geist Mono';
    src: url('/resources/fonts/geist-mono/GeistMono[wght].woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('/resources/fonts/geist-mono/GeistMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('/resources/fonts/geist-mono/GeistMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('/resources/fonts/geist-mono/GeistMono-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('/resources/fonts/geist-mono/GeistMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans: 'Geist Mono', ui-monospace, SFMono-Regular, monospace;
}

.dark {
    --gray-950: oklch(0.1468 0.0288 237.53);
    --gray-900: oklch(0.2114 0.0322 244.1);
    --gray-800: oklch(0.2914 0.0357 250.7);
    --gray-500: oklch(0.5722 0.0523 248.76);
}
